:root{
    --color-principal: rgb(217, 167, 77);
    --color-secundario: rgb(39, 174 , 96);
    --fuente-principal:  Georgia, 'Times New Roman', Times, serif;
    --fuente-secundaria: font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #fff;
}

.encabezado {
    background-color: var(--color-principal);
    padding: 20px 0 20px 0;
    width: 100%;
    font-family: var(--fuente-principal);
}

.encabezado .navegador {
    display: flex;
}


.navegador div {
    margin-left: 30px;
    display: flex;
    justify-content: start;
}

.navegador div p {
    padding-right: 55px;
    font-size: 3rem;
}

.navegador .enlaces {
    width: 50%;
    display: flex;
    justify-content: end;
}

.encabezado .navegador p {
    justify-content: end;
} 

.navegador li, a {
    color: #fff;
    list-style: none;
    text-decoration: none;
    font-size: 3rem;

}

.navegador a:hover {
    color: var(--color-secundario);
}

main {
    background-color: var(--color-secundario);
}

main h1 {
    font-size: 4rem;
    padding: 30px 0 30px 0;
    text-align: center;
}

main h2 {
    font-size: 3rem;
    padding: 30px 0 30px 0;
    text-align: center;    
    padding-bottom: 48px;
}

section {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

section .granja {
    margin-right: 30px;
}

section .animales {
    justify-content: center;
    text-align: center;
    height: 60%;
    padding: 50px;
    background-color: var(--color-principal);
}

section figure{
    padding-bottom: 60px;
}

section .gallina, .vaca, .cerdo {
    margin-right: 75px;
}

section .mapa {
    padding-bottom: 0px;
}