:root {
    --color-principal: #5673cb;
    --color-secundario: rgb(255, 255, 255);
    --fuente-principal: font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Mono', monospace;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.encabezado {
    background-color: var(--color-principal);
    padding: 10px 0 10px 0;
    width: 100%;
    font-family: var(--fuente-principal);
    font-size: 2.5rem;
    color: var(--color-secundario);
}

.encabezado .navegador {
    display: flex;
}

header {
    position: fixed;
    z-index: 2;
}

.navegador div {
    margin-left: 20px;
    display: flex;
    justify-content: start;
}

.navegador div p {
    padding-right: 55px;
}

.navegador .enlaces {
    width: 60%;
    display: flex;
    justify-content: end;
}

.encabezado .navegador p {
    justify-content: end;
} 

.navegador li, a {
    list-style: none;
    text-decoration: none;
    color: var(--color-secundario);
}

.navegador a:hover {
    font-weight: 900;
    color:antiquewhite;
}

main {
    display: flex;
}

.sidebar {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: orange;
    height: 100%;
    margin-top: 40px;
}

.sidebar .conceptos {
    padding-top: 35px;
}

.sidebar .conceptos li {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    padding: 15px;
}

.sidebar .conceptos li a:hover {
    color: blue;
}

.main-info {
    margin-top: 80px;
    color: black;
    margin-left: 325px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

article {
    scroll-margin-top: 70px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    
}


.main-info h2{
    font-size: 2.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.main-info h3{
    font-size: 2rem;
}

.main-info p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}